<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.boccaccio.emsog.example.dao.ResourceDao">
    <sql id="allcolumn">
        id
        ,is_deleted
        ,status
        ,comment
        ,create_user_uuid
        ,create_time
        ,update_user_uuid
        ,update_time
        ,resource_name
        ,resource_type
        ,resource_url
    </sql>

    <sql id="allcolumn2">
        #{id}
        ,#{isDeleted}
        ,#{status}
        ,#{comment}
        ,#{createUserUuid}
        ,#{createTime}
        ,#{updateUserUuid}
        ,#{updateTime}
        ,#{resourceName}
        ,#{resourceType}
        ,#{resourceUrl}
    </sql>

    <select id="selectByEntity" resultType="cn.boccaccio.emsog.example.entity.ResourceEntity" parameterType="map">
        select <include refid="allcolumn"></include>
        from t_resource
        <where>
            and is_deleted = 0
            <if test=" id != null  ">
                and id = #{id}
            </if>
            <if test=" status != null ">
                and status = #{status}
            </if>
            <if test=" resourceName != null and resourceName != '' ">
                and resource_name = #{resourceName}
            </if>
            <if test=" resourceNameLike != null and resourceNameLike != '' ">
                and resource_name  like CONCAT('%' , #{resourceNameLike} , '%')
            </if>
            <if test=" resourceUrl != null and resourceUrl != '' ">
                and resource_url = #{resourceUrl}
            </if>
            <if test=" resourceUrlLike != null and resourceUrlLike != '' ">
                and resource_url  like CONCAT('%' , #{resourceUrlLike} , '%')
            </if>
            <if test=" resourceType != null ">
                and resource_type = #{resourceType}
            </if>
        </where>
    </select>


    <insert id="insertOrUpdateByEntity" parameterType="cn.boccaccio.emsog.example.entity.ResourceEntity">
        insert into t_resource
        (id
        ,is_deleted
        ,status
        ,comment
        ,create_user_uuid
        ,create_time
        ,resource_name
        ,resource_type
        ,resource_url)
        values
        (#{id}
        ,#{isDeleted}
        ,#{status}
        ,#{comment}
        ,#{createUserUuid}
        ,#{createTime}
        ,#{resourceName}
        ,#{resourceType}
        ,#{resourceUrl})
        on duplicate key update
        update_user_uuid = #{updateUserUuid}
        ,update_time = current_timestamp
        ,resource_name = #{resourceName}
        ,resource_type = #{resourceType}
        ,resource_url = #{resourceUrl}
    </insert>

    <select id="getResourcesByRoleId" parameterType="Integer" resultType="cn.boccaccio.emsog.example.entity.ResourceEntity">
        select
            resource.id
            ,resource.is_deleted
            ,resource.status
            ,resource.comment
            ,resource.create_user_uuid
            ,resource.create_time
            ,resource.update_user_uuid
            ,resource.update_time
            ,resource.resource_name
            ,resource.resource_type
            ,resource.resource_url
        from t_resource resource
        left join t_role_resource rr
        on resource.id = rr.resource_id
        where rr.role_id = #{0}
    </select>

    <select id="getResourcesByUserId" parameterType="Integer" resultType="cn.boccaccio.emsog.example.entity.ResourceEntity">
        select
            resource.id
            ,resource.is_deleted
            ,resource.status
            ,resource.comment
            ,resource.create_user_uuid
            ,resource.create_time
            ,resource.update_user_uuid
            ,resource.update_time
            ,resource.resource_name
            ,resource.resource_type
            ,resource.resource_url
        from t_resource resource
        left join t_role_resource rr
        on resource.id = rr.resource_id
        left join t_user_role ur
        on rr.role_id = ur.role_id
        where ur.user_id = #{0}
    </select>

    <select id="getResourcesByResourceIds" resultType="cn.boccaccio.emsog.example.entity.ResourceEntity" parameterType="java.util.List">
        select <include refid="allcolumn"></include>
        from t_resource
        where id in
        <foreach collection="list" index="i" separator="," open="(" close=")" item="id">
            #{id}
        </foreach>
    </select>

</mapper>