<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.hhfarcry.springbootmybatis.example.dao.RoleDao">
    <sql id="allcolumn">
        uuid
        ,is_deleted
        ,status
        ,comment
        ,create_user_uuid
        ,create_time
        ,update_user_uuid
        ,update_time
        ,role_name
    </sql>

    <sql id="allcolumn2">
        #{uuid}
        ,#{isDeleted}
        ,#{status}
        ,#{comment}
        ,#{createUserUuid}
        ,#{createTime}
        ,#{updateUserUuid}
        ,#{updateTime}
        ,#{roleName}
    </sql>

    <select id="selectByEntity" resultType="cn.hhfarcry.springbootmybatis.example.entity.RoleEntity" parameterType="map">
        select id,<include refid="allcolumn"></include>
        from t_role
        <where>
            <if test=" uuid != null and uuid != '' ">
                and uuid = #{uuid}
            </if>
            <if test=" status != null and status != '' ">
                and status = #{status}
            </if>
            <if test=" name != null and name != '' ">
                and role_name = #{roleName}
            </if>
            <!--<if test=" name != null and name != '' ">-->
                <!--and name  like CONCAT('%' , #{name} , '%')-->
            <!--</if>-->
        </where>
    </select>

    <insert id="insertOrUpdateByEntity" useGeneratedKeys="true" keyProperty="id" parameterType="cn.hhfarcry.springbootmybatis.example.entity.RoleEntity">
        insert into t_role
        (uuid
        ,is_deleted
        ,status
        ,comment
        ,create_user_uuid
        ,create_time
        ,role_name)
        values
        (#{uuid}
        ,#{isDeleted}
        ,#{status}
        ,#{comment}
        ,#{createUserUuid}
        ,#{createTime}
        ,#{roleName})
        on duplicate key update
        update_user_uuid = #{updateUserUuid}
        ,update_time = current_timestamp
    </insert>

    <select id="getRolesByUserId" parameterType="Integer" resultType="cn.hhfarcry.springbootmybatis.example.entity.RoleEntity">
        select
        role.id
        ,role.uuid
        ,role.is_deleted
        ,role.status
        ,role.comment
        ,role.create_user_uuid
        ,role.create_time
        ,role.update_user_uuid
        ,role.update_time
        ,role.role_name
        from t_role role
        left join t_user_role ur
        on role.id = ur.role_id
        where ur.user_id = #{0}
    </select>
</mapper>