<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.boccaccio.emsog.example.dao.UserRoleDao">
    <sql id="allcolumn">
        id
        ,user_id
        ,role_id
    </sql>

    <sql id="allcolumn2">
        #{id}
       ,#{userId}
       ,#{roleId}
    </sql>

    <select id="selectByEntity" resultType="cn.boccaccio.emsog.example.entity.UserRoleEntity" parameterType="map">
        select <include refid="allcolumn"></include>
        from t_user_role
        <where>
            <if test="userId != null ">
                and user_id = #{userId}
            </if>
            <if test="roleId != null and ">
                and role_id = #{roleId}
            </if>
        </where>
    </select>

    <insert id="insertUserRole" useGeneratedKeys="true" keyProperty="id" parameterType="cn.boccaccio.emsog.example.entity.UserRoleEntity">
        insert into t_user_role
        (id
        ,user_id
        ,role_id)
        values
        (#{id}
       ,#{userId}
       ,#{roleId})
    </insert>

    <insert id="insertUserRoles" parameterType="java.util.List">
        insert into
        t_user_role
        (user_id
        ,role_id)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.userId,jdbcType=INTEGER},#{item.roleId,jdbcType=INTEGER})
        </foreach>
    </insert>

    <delete id="deleteUserRoles">
        delete from t_user_role where user_id = #{0}
    </delete>
</mapper>